name: Manual Test

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'
        required: true
        default: ''
  pull_request:
    branches: [ master ]
    types: [ opened ]

env:
  BRANCH: ${{ github.event.inputs.branch }}

jobs:
  Build-Deploy-Backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Test
        if: "$BRANCH" == ''
        run: |
          export BRANCH=$GITHUB_HEAD_REF
          echo "$BRANCH"
